<div class="card col-md-8 mx-auto" >
    <article class= "card-body" id = "postsCard">
        <h5 class="card-title">Edit Post</h5>
            <div class="card-text text-wrap">
                <form id="edit-post-form" class= "col-md-8 mx-auto card-text text-wrap">
                    <div class="row">
                        <div class="input-field">
                            <input disabled value= "{{post.id}}" id="disabled" type= "text" class= "form-input">
                            <label for= "disabled" class= "form-label">Post Id</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input id= "post-title" value= "{{post.title}}" type= "text" class= "form-input">
                            <label for= "post-title" class= "form-label">Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <textarea id= "post-body" value= "{{post.body}}" type= "text" class= "form-input materialize-textarea">
                            <label for= "post-body" class= "form-label">Content</label>
                        </div>
                    </div>

                    <button type="submit" class="btn waves-effect waves-light btn-large">Update</button>
                    <button type="button" id="delete-btn" class="waves-effect waves-light btn btn-large">Delete</button>
                </form>
            </div>
    </article>
</div>

<script src="/js/editPost.js"></script>