<div class="card col-md-8 mx-auto" >
    <article class= "card-body" id = "postsCard">
        <h5 class="card-title">Login</h5>
            <div class="card-text text-wrap">
                <form id="login-form" class= "col-md-8 mx-auto card-text text-wrap">
                    <div class="row">
                        <div class="input-field">
                            <input id= "username" type= "text" class= "form-input">
                            <label for= "username" class= "form-label">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input id= "password" type= "text" class= "form-input">
                            <label for= "password" class= "form-label">Password</label>
                        </div>
                    </div>

                    <button type="submit" class="login-btn btn waves-effect waves-light btn-large">Login</button>
                </form>
            </div>
    </article>
</div>


<script src="/js/login.js"></script>