<div class="card col-md-8 mx-auto" >
    <article class= "card-body" id = "postsCard">
        <h5 class="card-title center-align">Create New Post</h5>
            <div class="row card-text text-wrap">
                <form id="new-post-form">
                    <div class="row">
                        <div class="col m8">
                            Title:
                            <div class="input-field inline">
                                <textarea id= "post-title" type= "text" class= "form-input materialize-textarea"></textarea>
                                <label for= "post-title"></label>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col m8">
                            Content:
                            <div class="input-field inline">
                                <textarea id= "post-body" type= "text" class= "form-input materialize-textarea"></textarea>
                                <label for= "post-body" class= "form-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class= "center-align">
                        <button type="submit" class="btn waves-effect waves-light btn-large center-align">Create Post</button>
                    </div>
                </form>
            </div>
    </article>
</div>


<script src="./js/newPost.js"></script>