<div class="card col-md-8 mx-auto" >
    <article class= "card-body" id = "postsCard">
        <h5 class="card-title">Create New Post</h5>
            <div class="card-text text-wrap">
                <form id="new-post-form" class= "col-md-8 mx-auto card-text text-wrap">
                    <div class="row">
                        <div class="input-field">
                            <input id= "post-title" type= "text" class= "form-input">
                            <label for= "post-title" class= "form-label">Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <textarea id= "post-body" type= "text" class= "form-input materialize-textarea">
                            <label for= "post-body" class= "form-label">Content</label>
                        </div>
                    </div>

                    <button type="submit" class="btn waves-effect waves-light btn-large">Create Post</button>
                </form>
            </div>
    </article>
</div>


<script src="/js/newPost.js"></script>