<div class="container" >
    <article class="row">
        <h5 class="center-align">New Post</h5>
            <div>
                <form id="new-post-form" class="col s12">
                    <div class="col s12">
                        Title:
                        <div class="input-field">
                            <textarea id= "post-title" type= "text" class= "form-input materialize-textarea"></textarea>
                            <label for= "post-title"></label>
                        </div>                        
                    </div>
                    <div class="col s12">
                        Content:
                        <div class="input-field">
                            <textarea id= "post-body" type= "text" class= "form-input materialize-textarea"></textarea>
                            <label for= "post-body"></label>
                        </div>
                    </div>
                    <div class= "center-align">
                        <button type="submit" class="btn waves-effect waves-light btn-small center-align">Create Post</button>
                    </div>
                </form>
            </div>
    </article>
</div>


<script src="/js/newPost.js"></script>