<div class="container" >
    <article class= "row">
        <h5 class="center-align">Login</h5>
            <div>
                <form id="signup-form" class="col s12">
                    <div class="col s12">
                        Username:
                        <div class="input-field col s12">
                            <input id= "username-signup" type= "text" class= "form-input">
                            <label for= "username-signup" class= "form-label"></label>
                        </div>
                    </div>
                    <div class="col s12">
                        Password:
                        <div class="input-field">
                            <input id= "password-signup" type= "text" class= "form-input">
                            <label for= "password-signup" class= "form-label"></label>
                        </div>
                    </div>
                    <div class= "center-align">
                        <button type="submit" class="login-btn btn waves-effect waves-light btn-small center-align">Sign Up</button>
                    </div>
                    
                </form>
            </div>
    </article>
</div>



<script src="./js/signup.js"></script>