<div class="card col-md-8 mx-auto" >
    <article class= "card-body" id = "postsCard">
        <h5 class="card-title">Sign Up</h5>
            <div class="card-text text-wrap">
                <form id="signup-form" class= "col-md-8 mx-auto card-text text-wrap">
                    <div class="row">
                        <div class="input-field">
                            <input id= "username-signup" type= "text" class= "form-input">
                            <label for= "username-signup" class= "form-label">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input id= "password-signup" type= "text" class= "form-input">
                            <label for= "password-signup" class= "form-label">Password</label>
                        </div>
                    </div>

                    <button type="submit" class="signup-btn btn waves-effect waves-light btn-large">Sign Up</button>
                </form>
            </div>
    </article>
</div>


<script src="/js/signup.js"></script>