<div>
  {{#each posts}}
    <div class="card col-md-8 mx-auto" >
      <article class= "card-body" id = "postsCard">
        <h5 class="card-title"><a href="/dashboard/edit/{{id}}">{{title}}</a></h5>
        <div class="card-text text-wrap">
          <p>{{body}}</p>
          <p>Posted on: {{format_date}}</p>
        </div>
      </article>
    </div>
  {{/each}}
</div>